@*@model WeirdEnsemble2.Models.Cart*@
<nav id="mainNav" class="navbar navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/Home">
                <img src="~/Content/images/bg/Logo.png" alt="WeirdEnsemble Logo" class="logo-navbar-brand" />
            </a>
            @*@Html.ActionLink("Weird Ensemble", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            @Html.ActionLink("Weird Ensemble","Index","Home",)*@
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Products", "Index", "Product")</li>
                <li>@Html.ActionLink("About", "Index", "About")</li>
                <li>@Html.ActionLink("Contact", "Index", "Contact")</li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                @if (User.Identity.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Sign out as " + User.Identity.Name, "SignOut","Account")</li>
                    <li>
                        <a href="@Url.Action("Index","Account")">
                            <i class="glyphicon glyphicon-user"></i> My Account
                            <span class="sr-only">My Account</span>
                        </a>
                    </li>
                }
                else
                {
                    <li>
                        <a href="@Url.Action("SignIn","Account")">
                            <i class="glyphicon glyphicon-log-in"></i> Sign In
                            <span class="sr-only">Sign In</span>
                        </a>
                    </li>
                    <li>
                        <a href="@Url.Action("Register","Account")">
                            <i class="glyphicon glyphicon-user"></i> Register
                            <span class="sr-only">Register</span>
                        </a>
                    </li>
                }
                
                <li>
                    <a href="@Url.Action("Index","Cart")">
                        <i class="glyphicon glyphicon-shopping-cart"></i> Cart
                        @*@if (Model.CartItems.Count() > 0)
                        {
                            <text>(@(Model.CartItems.Count()))</text>
                        }*@
                        <span class="sr-only">Cart</span>
                    </a>
                </li>

                @*<li>@Html.ActionLink("Register", "Index", "Register")</li>*@
            </ul>
        </div>
    </div>
</nav>