<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | WeirdEnsemble</title>
    <link rel="icon" type="image/png" href="~/Content/images/bg/Logo.png" />
    <link href="https://fonts.googleapis.com/css?family=Nunito|Sunshiney|Varela+Round" rel="stylesheet"> 
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Html.Partial("_HeaderNavBar")

        <div class="container body-content">
            @RenderBody()
        </div>    


    @Html.Partial("_Footer")

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
