@model WeirdEnsemble2.Models.Order
@{
    ViewBag.Title = "Receipt";
}

<h2 class=" page-title">Receipt For Order #@Model.TransactionID</h2>
<table class="table table-striped receipt-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>List Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.OrderItems)
    {
        <tr>
            <td>
                @item.Product.Name
            </td>
            <td>
                @((item.Product.ListPrice ?? 0).ToString("C"))
            </td>
            <td>
                @item.Quantity
            </td>
            <td>
                @((item.Quantity * (item.Product.ListPrice ?? 0)).ToString("C"))
            </td>

        </tr>
    }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2"></td>
            <td><strong>Total:</strong></td>
            <td><strong>@((Model.OrderItems.Sum(x => x.Quantity * x.Product.ListPrice) ?? 0).ToString("C"))</strong></td>
        </tr>
    </tfoot>
</table>

