@model WeirdEnsemble2.Models.Product
 

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <div class="panel panel-default">
        <a href="@Url.Action("Detail","Product",new { id = Model.Id } )">
            
            <div class="panel-body">
                @if (Model.ProductImages.Any())
                {
                    @*<img class="productImg" src="@(Model.ProductProductImages.FirstOrDefault(m => m.ProductId == Model.Id).ProductImage.ImagePath)" 
                         alt="@(Model.ProductProductImages.FirstOrDefault(m => m.ProductId == Model.Id).ProductImage.AlternateText)" />*@
                    <img class="productImg" src="@(Model.ProductImages.FirstOrDefault(m => m.ProductID == Model.Id).ImagePath)" 
                         alt="@(Model.ProductImages.FirstOrDefault(m => m.ProductID == Model.Id).AlternateText)"/>
                }

                <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                    <h4 class="productBrand">@Model.Brand</h4>
                    <h4 class="productName">@Model.Name</h4>

                    <div class="productRating">

                    @if (Model.ProductReviews.Any())
                    {
                        <h5>
                            <text>Rating:  @(Model.ProductReviews.Average(m => m.Rating)) / 5</text>

                        </h5>
                    }
                    </div>
                    <div class="productPrice">
                        <h4><span class="dollar-sign">$</span>@((Model.ListPrice ?? 0).ToString("0.00"))</h4>
                    </div>
                </div>    
                
            </div>
        </a>
    </div>
</div>
