@model WeirdEnsemble2.Models.Product

<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
    <div class="panel panel-default">

        <div class="panel-body">
            <img class="productImg" src="@(Model.ImagePath)" />
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                <h3 class="productBrand">
                    <a href="@Model.Website_Link" target="_blank">@Model.Brand</a>
                </h3>
                <h4 class="productName">
                    <a href="@Model.Product_Link" target="_blank">@Model.Name</a>
                </h4>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="productRating">
                    <h5>
                        Rating:
                        @if (Model.Rating != null)
                        {
                            for (var i = 0; i < Model.Rating; i++)
                            {
                                <span class="glyphicon glyphicon-star gold" aria-hidden="true"></span>
                            }
                        }
                        else
                        {
                            @:N/A
                        }
                        
                    </h5>
                </div>
                <div class="productPrice">
                    
                    <h4><span class="dollar-sign">$</span>@(Model.Price)</h4>
                </div>
            </div>    
                
        </div>
    </div>
</div>
