@model WeirdEnsemble2.Models.Product
 

<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
    <div class="panel panel-default">
        <a href="@Url.Action("Detail","Product",new { id = Model.Id })" class="product-panel-link">
            
            <div class="panel-body">
                @if (Model.ProductImages.Any())
                {
                    @*<img class="productImg" src="@(Model.ProductProductImages.FirstOrDefault(m => m.ProductId == Model.Id).ProductImage.ImagePath)" 
                         alt="@(Model.ProductProductImages.FirstOrDefault(m => m.ProductId == Model.Id).ProductImage.AlternateText)" />*@
                    <img class="productImg" src="@(Model.ProductImages.FirstOrDefault(m => m.ProductID == Model.Id).ImagePath)" 
                         alt="@(Model.ProductImages.FirstOrDefault(m => m.ProductID == Model.Id).AlternateText)"/>
                }
                <div class="productPrice text-center">
                    <h6><span class="dollar-sign">$</span>@((Model.ListPrice ?? 0).ToString("#,##0.00"))</h6>
                </div>
                <div class="col-xs-12 col-sm-12 col-lg-12 col-md-12">
                    <h5 class="productBrand">@Model.Brand</h5>
                    <h5 class="productName">@Model.Name</h5>

                    <div class="productRating">

                    @if (Model.ProductReviews.Any())
                    {
                        <h6>
                            <text>Rating:  @(Model.ProductReviews.Average(m => m.Rating)) / 5</text>

                        </h6>
                    }
                    </div>

                </div>    
                
            </div>
        </a>
    </div>
</div>
