@model Braintree.Address
@{
    ViewBag.Title = "CreateAddress";
}
<h2>CreateAddress</h2>
@using (Html.BeginForm("CreateAddress","Account",null,FormMethod.Post, new { onsubmit = "return validateAddress()"}))
{
    <div class="form-group">
        @Html.Label("First Name")
        @Html.TextBox("fname")
    </div>
    <div class="form-group">
        @Html.Label("LastName")
        @Html.TextBox("lname")
    </div>
    <div class="form-group">
        @Html.Label("Street Address")
        @Html.TextBox("streetAddress")
    </div>
    <div class="form-group">
        @Html.Label("City")
        @Html.TextBox("locality")
    </div>
    <div class="form-group">
        @Html.Label("State")
        @Html.TextBox("region")
    </div>
    <div class="form-group">
        @Html.Label("Zip Code")
        @Html.TextBox("postalCode")
    </div>
    <input type="submit" />
}
@section scripts{
    <script type="text/javascript">
        function validateAddress() {
            console.log("Validate called");
            var locality = document.getElementsByName("locality")[0].value;
            var region = document.getElementsByName("region")[0].value;
            var postalCode = document.getElementsByName("postalCode")[0].value;
            var streetAddress = document.getElementsByName("streetAddress")[0].value;
            var url = "/Account/ValidateAddress?";
            if (locality !== "") {
                url += "locality=" + locality + "&";
            }
            if (region !== "") {
                url += "region=" + region + "&";
            }
            if (postalCode !== "") {
                url += "postalCode=" + postalCode + "&";
            }
            if (streetAddress !== "") {
                url += "streetAddress=" + streetAddress + "&";
            }
            $.getJSON(url, function (data, textStatus, jqXHR) {
                console.log(data);
            }).fail(function (message) {
                    console.log(message);
                });
            return false;
        }
    </script>
    }